extends layout

block content
  form(action ="/users/favorite-artists" method = "post")
    input(type="hidden" name="_csrf" value=csrfToken)
    each artist in artists
      div
        label #{artist.name} 
          select(name=artist.id) 
            each reaction in reactions 
              option(value=reaction.id) #{reaction.type}
    label Done 
      input(type="submit")