extends layout.pug

block content
  h1.title.is-1 #{title}
  table.table
   thead
    tr
      th(scope='col') Title
      th(scope='col') Artist
      th(scope='col') Album
      th(scope='col') Top Track
    tbody
      each song in songs
        tr
          td= song.title
          td= song.artistName
          td= song.albumName
          td= song.isArtistTopTrack
          td: i.far.fa-heart
