extends layout.pug

block content
  h1.title.is-1 #{title}
  table.table
   thead
      tr
        th(scope='col') Exercise
        th(scope='col') Instructions
        th(scope='col') Exercise Type
        th(scope='col') Equipment
        th(scope='col')
    tbody
      each exercise in exercises
        tr
          td: a.is-link(href=`/exercises/${exercise.dataValues.id}`)= exercise.name
          td: a.button.is-small.is-link.is-light(href=exercise.bbPageUrl)
          td= exercise.type
          td= exercise.equipment
          td
