extends layout.pug

block content
  h1.title.is-1 #{title}
  table.table
   thead
    tr
      th(scope='col') Title
      th(scope='col') Artist
      th(scope='col') Album
      th(scope='col') Top Track
      th(scope='col')
  tbody
    each song in songs
      tr
        td= song.dataValues.title
        td= song.dataValues.artistName
        td= song.dataValues.albumName
        td= song.dataValues.isArtistTopTrack
        td
